<div class="page-desktop">
  <div class="wrapper-page wrapper-page-areas" style="<%= @page_background %>">
    <div class="row">
      <div class="col-xs-3">
        <div class="container-page">
          <div class="container-areas-listing">
            <h3>Áreas de atuação</h3>
            <% @areas_nomes.length.times do |area| %>
              <%= link_to "/areas/" + @areas_links[area] do %>
                <div class="areas-listing-cada-area">
                  <p class="<%= "active" if params[:area] == @areas_links[area] %>"><%= @areas_nomes[area] %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-xs-8 col-xs-offset-1">
        <div class="container-page">
          <h1 class="page-title">Agronegócio</h1>

          <p class="page-content">
            O uso da tecnologia no agronegócio se tornou uma realidade no Brasil. Segundo dados do CBAP, grande parte das propriedades agrícolas adotam algum tipo de inovação tecnológica. O setor tem impulsionado a economia brasileira, sendo responsável por parte significativa do PIB.  A HRD pode contribuir com soluções de engenharia para as máquinas e equipamentos utilizados, infraestrutura de armazenamento e transporte de granéis.
          </p>

          <%= render 'shared/servicos-links' %>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-mobile">
  <div class="wrapper-page" style="<%= @page_background %>">
    <div class="container-page">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Áreas de atuação
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu areas-dropdown-mobile-list" aria-labelledby="dropdownMenu1">
          <% @areas_nomes.length.times do |area| %>
            <li class="areas-dropdown-mobile-item">
              <%= link_to "/areas/" + @areas_links[area] do %>
                <p class="<%= "active" if params[:area] == @areas_links[area] %>"><%= @areas_nomes[area] %></p>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <h1 class="page-title">Agronegócio</h1>

      <p class="page-content">
        O uso da tecnologia no agronegócio se tornou uma realidade no Brasil. Segundo dados do CBAP, grande parte das propriedades agrícolas adotam algum tipo de inovação tecnológica. O setor tem impulsionado a economia brasileira, sendo responsável por parte significativa do PIB.  A HRD pode contribuir com soluções de engenharia para as máquinas e equipamentos utilizados, infraestrutura de armazenamento e transporte de granéis.
      </p>

      <%= render 'shared/servicos-links' %>

    </div>
  </div>
</div>
