<div class="page-desktop">
  <div class="wrapper-page wrapper-page-areas" style="<%= @page_background %>">
    <div class="row">
      <div class="col-xs-3">
        <div class="container-page">
          <div class="container-areas-listing">
            <h3>Serviços</h3>
            <% @areas_nomes.length.times do |area| %>
              <%= link_to "/servicos/" + @areas_links[area] do %>
                <div class="areas-listing-cada-area">
                  <p class="<%= "active" if params[:servico] == @areas_links[area] %>"><%= @areas_nomes[area] %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-xs-8 col-xs-offset-1">
        <div class="container-page">
          <h1 class="page-title">Análise Estrutural</h1>

          <p class="page-content">
            Este tipo de análise tem como objetivo averiguar a conformidade, auxiliar, otimizar e realizar projetos
             de todo tipo de estrutura, desde componentes e peças até máquinas industriais e prédios. A partir dos 
             resultados das análises, podem ser identificados pontos críticos e intervenções necessárias para 
             assegurar a confiabilidade e segurança das estruturas avaliadas.
          </p>
          <p class="page-content">
            A HRD conta com uma equipe com mais de 10 anos de experiência e know-how agregado em diversos tipos 
            de análises pelo método dos elementos finitos e cálculos analíticos com foco industrial na área da 
            mineração. Dentre as principais áreas de expertise da nossa equipe técnica destacam-se o cálculo e 
            verificação de:
          </p>

          <ul class="lista-equipamentos valores-lista">
            <dd class="cada-equipamento">Máquinas de pátio e porto;</dd>
            <dd class="cada-equipamento">Transportadores de correia;</dd>
            <dd class="cada-equipamento">Equipamentos e componentes industriais diversos;</dd>
            <dd class="cada-equipamento">Prédios e galpões industriais.</dd>
          </ul>
          <br>
          <p class="page-content">
            Já dentre os tipos de análise utilizando o método dos elementos finitos, podemos destacar:
          </p>
          <ul class="lista-efinitos valores-lista">
            <dd class="cada-equipamento">Análise estática linear e não-linear;</dd>
            <dd class="cada-equipamento">Análise dinâmica (modal, resposta em frequência, vibração forçada explícita e implícita);</dd>
            <dd class="cada-equipamento">Análise termo-estrutural;</dd>
            <dd class="cada-equipamento">Análise de fadiga e vida remanescente;</dd>
            <dd class="cada-equipamento">Análise de mecânica da fratura;</dd>
            <dd class="cada-equipamento">Análise de estabilidade global.</dd>
          </ul>

          <!--<h1 class="page-subtitle">Cases</h1>

          <ul class="cases-mineração valores-lista">
            <li class="cada-equipamento">LINK: Tambor: PROK-</li>
            <li class="cada-equipamento">LINK: SWR H4; Empilhadeira/Recuperadora OS-050</li>
            <li class="cada-equipamento">LINK: Stacker03; Empilhadeira OS-052</li>
            <li class="cada-equipamento">LINK: Virador de vagões; Virador de Vagões OS-51 e OS-068</li>
            <li class="cada-equipamento">LINK: Descarregadores Tubarão; Descarregador de Navios OS-001, OS-002, OS-003</li>
            <li class="cada-equipamento">LINK: Carregador de navios ARCADIS; OS-080</li>
            <li class="cada-equipamento">LINK: CurvaFlex; OS-015</li>
            <li class="cada-equipamento">LINK: Otimização galpão Galpões Metálicos OS-067</li>
          </ul> -->

          <div class="servicos-links text-center">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <%= link_to "Conheça nossos estudos de casos", '/cases?case=analise-estrutural', class: "servicos-cada-link btn" %>
              </div>
              <div class="col-xs-12 col-md-6">
                <%= link_to "Voltar à página principal", '/home', class: "servicos-cada-link btn servicos-link-voltar" %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-mobile">
  <div class="wrapper-page" style="<%= @page_background %>">
    <div class="container-page">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Serviços
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu areas-dropdown-mobile-list" aria-labelledby="dropdownMenu1">
          <% @areas_nomes.length.times do |area| %>
            <li class="areas-dropdown-mobile-item">
              <%= link_to "/servicos/" + @areas_links[area] do %>
                <p class="<%= "active" if params[:servico] == @areas_links[area] %>"><%= @areas_nomes[area] %></p>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      
      <h1 class="page-title">Análise Estrutural</h1>

          <p class="page-content">
            Este tipo de análise tem como objetivo averiguar a conformidade, auxiliar, otimizar e realizar projetos
             de todo tipo de estrutura, desde componentes e peças até máquinas industriais e prédios. A partir dos 
             resultados das análises, podem ser identificados pontos críticos e intervenções necessárias para 
             assegurar a confiabilidade e segurança das estruturas avaliadas.
          </p>
          <p class="page-content">
            A HRD conta com uma equipe com mais de 10 anos de experiência e know-how agregado em diversos tipos 
            de análises pelo método dos elementos finitos e cálculos analíticos com foco industrial na área da 
            mineração. Dentre as principais áreas de expertise da nossa equipe técnica destacam-se o cálculo e 
            verificação de:
          </p>

          <ul class="lista-equipamentos valores-lista">
            <dd class="cada-equipamento">Máquinas de pátio e porto;</dd>
            <dd class="cada-equipamento">Transportadores de correia;</dd>
            <dd class="cada-equipamento">Equipamentos e componentes industriais diversos;</dd>
            <dd class="cada-equipamento">Prédios e galpões industriais.</dd>
          </ul>
          <br>
          <p class="page-content">
            Já dentre os tipos de análise utilizando o método dos elementos finitos, podemos destacar:
          </p>
          <ul class="lista-efinitos valores-lista">
            <dd class="cada-equipamento">Análise estática linear e não-linear;</dd>
            <dd class="cada-equipamento">Análise dinâmica (modal, resposta em frequência, vibração forçada explícita e implícita);</dd>
            <dd class="cada-equipamento">Análise termo-estrutural;</dd>
            <dd class="cada-equipamento">Análise de fadiga e vida remanescente;</dd>
            <dd class="cada-equipamento">Análise de mecânica da fratura;</dd>
            <dd class="cada-equipamento">Análise de estabilidade global.</dd>
          </ul>

          <div class="servicos-links text-center">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <%= link_to "Conheça nossos estudos de casos", '/cases?case=analise-estrutural', class: "servicos-cada-link btn" %>
              </div>
              <div class="col-xs-12 col-md-6">
                <%= link_to "Voltar à página principal", '/home', class: "servicos-cada-link btn servicos-link-voltar" %>
              </div>
            </div>
          </div>

    </div>
  </div>
</div>



