<div class="page-desktop">
  <div class="wrapper-page wrapper-page-areas" style="<%= @page_background %>">
    <div class="row">
      <div class="col-xs-3">
        <div class="container-page">
          <div class="container-areas-listing">
            <h3>serviços</h3>
            <% @areas_nomes.length.times do |area| %>
              <%= link_to "/servicos/" + @areas_links[area] do %>
                <div class="areas-listing-cada-area">
                  <p class="<%= "active" if params[:servico] == @areas_links[area] %>"><%= @areas_nomes[area] %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-xs-8 col-xs-offset-1">
        <div class="container-page">
          <h1 class="page-title">Papel e celulose</h1>

          <p class="page-content">
            São esperados para 2019 crescimentos significativos na indústria de papel e celulose, tanto em cenário nacional quanto em exportação. A HRD oferece soluções estruturais, mecânicas e térmica para o setor.
          </p>

          <%= render 'shared/servicos-links' %>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-mobile">
  <div class="wrapper-page" style="<%= @page_background %>">
    <div class="container-page">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          serviços
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu areas-dropdown-mobile-list" aria-labelledby="dropdownMenu1">
          <% @areas_nomes.length.times do |area| %>
            <li class="areas-dropdown-mobile-item">
              <%= link_to "/servicos/" + @areas_links[area] do %>
                <p class="<%= "active" if params[:servico] == @areas_links[area] %>"><%= @areas_nomes[area] %></p>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <h1 class="page-title">Papel e celulose</h1>

      <p class="page-content">
        São esperados para 2019 crescimentos significativos na indústria de papel e celulose, tanto em cenário nacional quanto em exportação. A HRD oferece soluções estruturais, mecânicas e térmica para o setor.
      </p>

      <%= render 'shared/servicos-links' %>

    </div>
  </div>
</div>
