<div class="page-desktop">
  <div class="wrapper-page wrapper-page-areas" style="<%= @page_background %>">
    <div class="row">
      <div class="col-xs-3">
        <div class="container-page">
          <div class="container-areas-listing">
            <h3>serviços</h3>
            <% @areas_nomes.length.times do |area| %>
              <%= link_to "/servicos/" + @areas_links[area] do %>
                <div class="areas-listing-cada-area">
                  <p class="<%= "active" if params[:servico] == @areas_links[area] %>"><%= @areas_nomes[area] %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-xs-8 col-xs-offset-1">
        <div class="container-page">
          <h1 class="page-title">Projetos Mecânicos</h1>

          <p class="page-content">
            Um texto sobre Projetos Mecânicos  
          </p>

          <div class="servicos-links text-center">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <%= link_to "Conheça nossos cases", '/cases?case=projetos-mecanicos', class: "servicos-cada-link btn" %>
              </div>
              <div class="col-xs-12 col-md-6">
                <%= link_to "Voltar à página principal", '/home', class: "servicos-cada-link btn servicos-link-voltar" %>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-mobile">
  <div class="wrapper-page" style="<%= @page_background %>">
    <div class="container-page">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          serviços
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu areas-dropdown-mobile-list" aria-labelledby="dropdownMenu1">
          <% @areas_nomes.length.times do |area| %>
            <li class="areas-dropdown-mobile-item">
              <%= link_to "/servicos/" + @areas_links[area] do %>
                <p class="<%= "active" if params[:servico] == @areas_links[area] %>"><%= @areas_nomes[area] %></p>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <h1 class="page-title">Inspeções e ensaios</h1>

      <p class="page-content">
        Equipamentos e estruturas, mesmo com manutenção adequada, possuem um ciclo de vida e devem ser periodicamente inspecionados para se verificar o estado de conservação e a capacidade de cumprir suas funções. Nesta etapa, a HRD pode ajudar sua empresa com técnicos experientes em identificar pontos de degradação em estruturas e equipamentos, por meio de uma avaliação sensitiva e com o auxílio de instrumentos e ensaios específicos.
      </p>

          <div class="servicos-links text-center">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <%= link_to "Conheça nossos cases", '/cases?case=projetos-mecanicos', class: "servicos-cada-link btn" %>
              </div>
              <div class="col-xs-12 col-md-6">
                <%= link_to "Voltar à página principal", '/home', class: "servicos-cada-link btn servicos-link-voltar" %>
              </div>
            </div>
          </div>

    </div>
  </div>
</div>
