<div class="titulo-cases"><h1>Análise CFD: Recuperadora</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p> Reprojeto da tubulação de retorno e refrigeração de um sistema de acionamento hidráulico que apresentava elevada pressão de saída no cooler e com histórico de falha em campo.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p> Simulação CFD de regiões críticas (onde cálculo teórico não é bem representativo) do caminho de tubulação do óleo para o sistema original e caminho alternativo (by-pass) proposto em campo.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Novo projeto de tubulação reduzindo perda de carga em mais de 50%, solucionando o problema e aumentando a eficiência do sistema.</p>
<br>
<div align="center" > 
    <%= image_tag "cfd-1.png", class: 'cases-image50' %>
    <div class="legenda"><p>Simulação CFD de regiões críticas (onde cálculo teórico não é bem representativo) do caminho de tubulação do óleo para o sistema original e caminho alternativo (by-pass) proposto em campo.</p></div>
</div><br><br><br><br>
<div align="center" > 
    <%= image_tag "cfd0.png", class: 'cases-image50' %>
    <div class="legenda"><p>Detalhe do perfil de velocidades nas curvas [m/s].</p></div>
</div><br><br><br><br>
<div align="center" > 
    <%= image_tag "cfd1.png", class: 'cases-image50' %>
    <div class="legenda"><p>Perfil de velocidade do fluido nas seções de entrada de saída.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "cfd2.png", class: 'cases-image65' %>
    <div class="legenda"><p>Porcentagem da perda de carga por região na tubulação original.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "cfd3.png", class: 'cases-image65' %>
    <div class="legenda"><p>Porcentagem da perda de carga por região no novo projeto.</p></div>
</div><br>