<div class="titulo-cases"><h1>Máquinas de porto: Descarregador de navios</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p> Avaliação da influência do vento no equipamento devido à instalação de wind fences agregada à análise estrutural e mecânica completa da máquina.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p> Análise estrutural e mecânica conforme FEM 1.001, AISC 360-16, NBR 8800, DNVGL-RP-C208, AS 3774 e EN-1993-1-9.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p> Aumento da confiabilidade e disponibilidade do equipamento e recomendações operacionais em condições de ventos fortes.</p>
<br>
<div align="center" > 
    <%= image_tag "descarrega1.png", class: 'cases-image75' %>
    <div class="legenda"><p>Modelo em elementos finitos dos descarregadores analisados.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "descarrega2.png", class: 'cases-image100' %>
    <div class="legenda"><p>Análise dinâmica (modal) dos descarregadores de navios.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "descarrega3.png", class: 'cases-image100' %>
    <div class="legenda"><p>Análise de tensões das máquinas.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "descarrega4.png", class: 'cases-image50' %>
    <div class="legenda"><p>Análise do sistema de frenagem (velocidade de sobrevivência) de um dos descarregadores.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "descarrega5.png", class: 'cases-image50' %>
    <div class="legenda"><p>Ganho operacional com novos limites de operação sobre ventos fortes.</p></div>
</div><br>