<div class="navbar-hrd <%= "navbar-home" if params[:page] == 'home' %>">

  <!-- Logo -->
  <%= link_to "/home" do %>
    <%= image_tag 'logo-white-background.png', class: 'navbar-logo' %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= render 'shared/links-a' %>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <%= render 'shared/links-li' %>
        <li><a href="https://www.linkedin.com/company/hrd-solucoes/" class="navbar-wagon-item navbar-wagon-link navbar-contact-link" target="_blank" style="text-transform: capitalize;">
          Linkedin
        </a></li>
      </ul>
    </div>
  </div>
</div>

