<div class="wrapper-page" style="<%= @page_background %>">
  <div class="container-page">

  <h1 class="page-title">A Empresa</h1>

  <p class="page-content">
    A HRD Soluções de Engenharia foi formada em 2018 por engenheiros entusiastas da área de cálculo estrutural e mecânico. Após mais de sete anos trabalhando em conjunto, agregando ambições pessoais e profissionais, os fundadores se uniram em um objetivo comum, criar a HRD. A confiança na competência e responsabilidade técnica de cada um dos sócios é um dos pilares de fundação e desenvolvimento da empresa. Com uma equipe de perfil técnico e dinâmico, a empresa busca atender uma necessidade do mercado de serviços especializados, aliando-se aos seus clientes para encontrar soluções personalizadas, tecnicamente embasadas e responsáveis.
  </p><br><br>
        <div class="col-xs-12 col-md-6" align="center">
          <%= link_to "Conheça alguns de nossos clientes", '/home#clientes', class: "servicos-cada-link btn servicos-link-voltar" %>
        </div>
<br><br><br>

  <h1 class="page-subsubtitle">Missão</h1>

  <ul class="valores-lista">
    <dd>Garantir a segurança, confiabilidade e disponibilidade dos ativos dos nossos clientes;</dd>
    <dd>Atender de forma personalizada em busca da solução multidisciplinar e otimizada para os problemas dos nossos clientes e parceiros.</dd>
  </ul>

  <h1 class="page-subsubtitle">Visão estratégica</h1>

  
  <ul class="valores-lista">
    <dd>Ser reconhecida por nossos parceiros como a empresa referência em excelência técnica e atendimento.</dd>
  </ul>

  <h1 class="page-subsubtitle">Valores</h1>
  <ul class="valores-lista">
    <dd>Soluções tecnicamente embasadas e responsáveis;</dd>
    <dd>Assistência pessoal, direta e dedicada aos clientes;</dd>
    <dd>Integridade, transparência e honestidade;</dd>
    <dd>Capacitação e retenção de talentos;</dd>
	<dd>Segurança dos colaboradores e respeito ao meio ambiente.</dd>
  </ul>

  <br>

  <h1 class="page-subsubtitle">Política da qualidade</h1>
  
  <p class="page-content">
    Fornecer serviços de engenharia com excelência, atendendo aos requisitos aplicáveis e em constante evolução do sistema de gestão da qualidade, em busca de se tornar referência técnica no mercado.
  </p>
    <p class="page-content">
    Hoje a HRD se orgulha de ser uma empresa certificada ISO 9001:2015 em seu sistema de gestão da qualidade!.
  </p>

  <%= link_to "download/codigo-de-conduta.pdf", target: :_blank do  %>
    <p class="btn btn-primary">Baixar código de conduta</p>
  <% end %>
  
  </div>
</div>

<div class="page-desktop">
  <div class="wrapper-page" style="<%= @page_background %>">
    <div class="container-page">

      <h1 class="page-title">Responsáveis Técnicos</h1>

      <% (@membros_nomes.length).times do |membro| %>
        <div class="equipe-cada-membro">
          
         <!-- <div class="equipe-cada-membro-left text-center hide">
            <%= link_to @membros_linkedin[membro],target: :_blank do %>
              <div class="equipe-linkedin-div-pictures">
                <%= image_tag @membros_fotos[membro], class: 'equipe-cada-membro-foto' %>
                <%= image_tag 'logo-white-background.png', class: 'equipe-cada-membro-foto-hrdlogo' %>
              </div>
            <% end %>
          </div>
          <div class="equipe-cada-membro-mid">
          </div> -->

          <div class="equipe-cada-membro-right">
            <h2 class="equipe-cada-membro-nome">
              <%= @membros_nomes[membro] %>
            </h2>
            <p class="equipe-cada-membro-descricao">
              <%= @membros_descricao[membro] %>
            </p>
            <div class="equipe-cada-membro-links">
              <%= link_to @membros_linkedin[membro], target: "_blank", class: 'linkedin-links', target: :_blank do  %>
                <h2 class="linkedin-links"><i class="fab fa-linkedin"></i>&nbsp;&nbsp;LinkedIn</h2>
              <% end %>
              <%= link_to "download/curriculo-#{@membros_nomes[membro].split[0].downcase}.pdf", target: "_blank", class: 'equipe-cada-membro-downloadcurriculo', target: :_blank do  %>
                <i class="fa fa-file-download"></i>Currículo
              <% end %>
            </div>

          </div>
        </div>
      <% end %>


    </div>
  </div>
</div>

<div class="page-mobile">
  <div class="wrapper-page" style="<%= @page_background %>">
    <div class="container-page">

      <h1 class="page-title">Responsáveis Técnicos</h1>

<!--       <p class="page-content" style="text-align: justify; color: rgba(130,130,130,1); text-indent: 0;">(Você pode tocar sobre a foto de um membro para acessar seu LinkedIn)</p> -->

      <br>

      <% (@membros_nomes.length).times do |membro| %>
        <div class="equipe-cada-membro">
          <div class="row">
           <!-- <div class="col-md-3 col-xs-12 text-center">
            <%= link_to @membros_linkedin[membro],target: :_blank do %>
              <div class="equipe-linkedin-div-pictures">
                <%= image_tag @membros_fotos[membro], class: 'equipe-cada-membro-foto' %>
                <%= image_tag 'logo-white-background.png', class: 'equipe-cada-membro-foto-hrdlogo' %>
              </div>
            <% end %>
            </div> -->
            <div class="col-md-9 col-xs-12">
              <h2 class="equipe-cada-membro-nome">
                <%= @membros_nomes[membro] %>
              </h2>
              <p class="equipe-cada-membro-descricao">
                <%= @membros_descricao[membro] %>
              </p>
              <div class="equipe-cada-membro-downloadcurriculo-mobile-div text-center">
                <%= link_to "download/curriculo-#{@membros_nomes[membro].split[0].downcase}.pdf", target: "_blank", class: 'equipe-cada-membro-downloadcurriculo-mobile', target: :_blank do  %>
                  <i class="fa fa-file-download"></i>Currículo
                <% end %>
              </div>
              <div class="equipe-cada-membro-linkedin-mobile-div text-center">
                <%= link_to @membros_linkedin[membro], target: "_blank", class: 'equipe-cada-membro-linkedin-mobile', target: :_blank do  %>
                  <h2><i class="fab fa-linkedin"></i>&nbsp;&nbsp;LinkedIn</h2>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
