<div class="page-desktop">
  <div class="wrapper-page wrapper-minheight">
    <div class="container-page">

      <h1 class="page-title">Nossa equipe</h1>

      <% (@membros_nomes.length).times do |membro| %>
        <div class="equipe-cada-membro">
          <div class="equipe-cada-membro-left text-center">
            <%= link_to @membros_linkedin[membro] do %>
              <%= image_tag @membros_fotos[membro], class: 'equipe-cada-membro-foto' %>
              <h2 class="linkedin-links"><i class="fab fa-linkedin"></i>&nbsp;&nbsp;LinkedIn</h2>
            <% end %>
          </div>

          <div class="equipe-cada-membro-mid">
          </div>

          <div class="equipe-cada-membro-right">
            <h2 class="equipe-cada-membro-nome">
              <%= @membros_nomes[membro] %>
            </h2>
            <p class="equipe-cada-membro-descricao">
              <%= @membros_descricao[membro] %>
            </p>
            <%= link_to "download/#{@membros_nomes[membro].split[0].downcase}.pdf", target: "_blank", class: 'equipe-cada-membro-downloadcurriculo' do  %>
              <i class="fa fa-file-download"></i>Currículo
            <% end %>
          </div>
        </div>
      <% end %>


    </div>
  </div>
</div>

<div class="page-mobile">
  <div class="wrapper-page wrapper-minheight">
    <div class="container-page">

      <h1 class="page-title">Nossa equipe</h1>

      <% (@membros_nomes.length).times do |membro| %>
        <div class="equipe-cada-membro">
          <div class="row">
            <div class="col-md-3 col-xs-12 text-center">
              <%= link_to @membros_linkedin[membro] do %>
                <%= image_tag @membros_fotos[membro], class: 'equipe-cada-membro-foto' %>
              <% end %>
            </div>
            <div class="col-md-9 col-xs-12">
              <h2 class="equipe-cada-membro-nome">
                <%= @membros_nomes[membro] %>
              </h2>
              <p class="equipe-cada-membro-descricao">
                <%= @membros_descricao[membro] %>
              </p>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
