<div class="wrapper-homepage-banner">
  <div class="container-homepage-banner">
    <div class="intro-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Garzweiler_Tagebau-1230.jpg/1280px-Garzweiler_Tagebau-1230.jpg');">
      <div class="main-title-text">
        <h1 class="main-title-text-line">-</h1>
        <h1 class="main-title-text-line">-</h1>
        <h1 class="main-title-text-line">---</h1>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-page">
  <div class="container-page">

    <!-- Section: Equipe -->
    <h1 class="page-subtitle">
      A EMPRESA
    </h1>

    <p class="page-description">
      A HRD Soluções de Engenharia é uma empresa que atua no segmento de Engenharia Mecânica e Estrutural, com foco em consultoria em projetos e manutenção de equipamentos e estruturas metálicas para todo tipo de indústria.
    </p>

    <div class="home-about-buttons row">
      <%= link_to "Conheça a empresa", '/a-empresa', class: "conheca-mais-btn btn" %>
      <%= link_to "Conheça nossa equipe", '/equipe', class: "conheca-mais-btn btn" %>
    </div>

    <!-- Section: Areas de atuacao -->
    <h1 class="page-subtitle">
      ÁREAS DE ATUAÇÃO
    </h1>
    <p class="page-description">
      Conheça mais sobre nossas áreas de atuação acessando as áreas abaixo:
    </p>
    <br>
    <div class="row">
      <div class="col-xs-6 col-lg-4">
        <%= link_to root_path do %>
          <div class="card-solutions card-solutions-big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://correiodaamazonia.com/wp-content/uploads/2014/06/minera%C3%A7%C3%A3o.jpg');">
            <div class="card-solutions-description">
              <h2>Mineiração</h2>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-6 col-lg-4">
        <%= link_to root_path do %>
          <div class="card-solutions card-solutions-big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://conect.online/wp-content/uploads/2018/02/163665-post-de-3000-redator-entregar-ate-2301-15h-norma-regulamentadora-para-descarga-em-portos-brasileiros.jpg');">
            <div class="card-solutions-description">
              <h2>Portos</h2>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-6 col-lg-4">
        <%= link_to root_path do %>
          <div class="card-solutions card-solutions-big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://www.zug.net.br/wp-content/uploads/2018/07/img_ferrovia.jpg');">
            <div class="card-solutions-description">
              <h2>Ferrovias</h2>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-6 col-lg-4">
        <%= link_to root_path do %>
          <div class="card-solutions card-solutions-big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.theconversation.com/files/171209/original/file-20170526-6421-1j3azw3.jpg?ixlib=rb-1.1.0&rect=0%2C360%2C6016%2C2917&q=45&auto=format&w=1356&h=668&fit=crop');">
            <div class="card-solutions-description">
              <h2>Pontes</h2>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-6 col-lg-4">
        <%= link_to root_path do %>
          <div class="card-solutions card-solutions-big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://olouro.com.br/cdg/wp-content/uploads/2016/09/INSP.jpg');">
            <div class="card-solutions-description">
              <h2>Inspeções e ensaios em estruturas metálicas</h2>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-6 col-lg-4">
        <%= link_to root_path do %>
          <div class="card-solutions card-solutions-big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://blog.arcelormittal.com.br/wp-content/uploads/2017/01/a%C3%A7os_especiais_1.jpg');">
            <div class="card-solutions-description">
              <h2>Automobilística</h2>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-6 col-lg-4">
        <%= link_to root_path do %>
          <div class="card-solutions card-solutions-big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Flag_of_Afghanistan_%281880%E2%80%931901%29.svg/2000px-Flag_of_Afghanistan_%281880%E2%80%931901%29.svg.png');">
            <div class="card-solutions-description">
              <h2>Seguradoras e reguladoras</h2>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-6 col-lg-4">
        <%= link_to root_path do %>
          <div class="card-solutions card-solutions-big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Flag_of_Afghanistan_%281880%E2%80%931901%29.svg/2000px-Flag_of_Afghanistan_%281880%E2%80%931901%29.svg.png');">
            <div class="card-solutions-description">
              <h2>Treinamentos</h2>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-6 col-lg-4">
        <%= link_to root_path do %>
          <div class="card-solutions card-solutions-big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.combustol.com.br/uploads/image/siderurgica02.jpg');">
            <div class="card-solutions-description">
              <h2>Siderurgia</h2>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-6 col-lg-4">
        <%= link_to root_path do %>
          <div class="card-solutions card-solutions-big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://portallubes.com.br/wp-content/uploads/2018/10/m%C3%A1quinas-agr%C3%ADcolas-01.jpg');">
            <div class="card-solutions-description">
              <h2>Agronegócio</h2>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-6 col-lg-4">
        <%= link_to root_path do %>
          <div class="card-solutions card-solutions-big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Flag_of_Afghanistan_%281880%E2%80%931901%29.svg/2000px-Flag_of_Afghanistan_%281880%E2%80%931901%29.svg.png');">
            <div class="card-solutions-description">
              <h2>Indústria Alimentícia</h2>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-6 col-lg-4">
        <%= link_to root_path do %>
          <div class="card-solutions card-solutions-big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://i1.wp.com/brasilconstrucao.com.br/wp-content/uploads/2014/07/Constru%C3%A7%C3%A3o.jpg?fit=4288%2C2848&ssl=1');">
            <div class="card-solutions-description">
              <h2>Construção civil</h2>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-6 col-lg-4">
        <%= link_to root_path do %>
          <div class="card-solutions card-solutions-big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://2.bp.blogspot.com/-piDO8B4lrrc/UaYtOFVr3oI/AAAAAAAAHM8/iQ_ty2Q3vbw/s1600/SU.JPG');">
            <div class="card-solutions-description">
              <h2>Papel e Celulose</h2>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<!--   <div class="container-homepage-team">
    <h1 class="homepage-solutions-title">
      Nosso time
    </h1>
    <div class="container-offset-team-members">
      <div class="row">
        <div class="col-xs-6 col-lg-6">
          <div class="team-description-flex">
            <img src="https://scontent.fplu3-1.fna.fbcdn.net/v/t1.0-9/12647495_10207192754275914_7729715102584182792_n.jpg?_nc_cat=110&_nc_ht=scontent.fplu3-1.fna&oh=1483608bec701abf03d8e5a67fb4928e&oe=5C6C6A59" alt="" class="img-circle team-avatar">
            <div class="team-description-group">
             <h2 class="team-member-name">Ronaldo Lelis Santos</h2>
              <p class="team-member-description">-</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-lg-6">
          <div class="team-description-flex">
            <img src="https://scontent.fplu3-1.fna.fbcdn.net/v/t1.0-9/11230116_849645451770047_7330162658794550630_n.jpg?_nc_cat=100&_nc_ht=scontent.fplu3-1.fna&oh=939128b524aa37bd0d5dc1045c9355b8&oe=5CA6EA10" alt="" class="img-circle team-avatar">
            <div class="team-description-group">
             <h2 class="team-member-name">Henrique Coach</h2>
              <p class="team-member-description">-</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-lg-6">
          <div class="team-description-flex">
            <img src="http://i.imgur.com/XyDjKCL.png" alt="" class="img-circle team-avatar">
            <div class="team-description-group">
             <h2 class="team-member-name">Rick Sanchez</h2>
              <p class="team-member-description">-</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-lg-6">
          <div class="team-description-flex">
            <img src="https://infinitecoincidenceblog.files.wordpress.com/2017/01/donald-trump-incapable-of-embarrassment-r_0.jpg" alt="" class="img-circle team-avatar">
            <div class="team-description-group">
             <h2 class="team-member-name">Donald J. Trump</h2>
              <p class="team-member-description">-</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
