<div class="wrapper-homepage-slideshow" id="slideshow-swipe">
  <div class="container-home-slideshow">
    <div class="row">
      <div class="col-xs-12">
        <div id="home-slider" class="carousel slide" data-ride="carousel" data-interval="6000" data-wrap="true" data-pause="false">
          <!-- Dot indicators -->
          <ol class="carousel-indicators">
            <% @slides_title.length.times do |marker| %>
              <li data-target="#home-slider" data-slide-to="<%= marker %>" class="carousel-indicator <%= "active" if marker == 0 %>"></li>
            <% end %>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">

            <% @slides_title.length.times do |slide| %>
              <div class="item carousel-home-item <%= slide == 0 ? "active" : ""%>" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 100%), url('<%= @slides_image[slide] %>');">
                <div class="carousel-caption">
                  <h1 class="carousel-slide-title">
                    <%= @slides_title[slide] %>
                  </h1>
                  <%= link_to @slides_link[slide] do %>
                    <div class="carousel-slide-button btn">
                      <%= @slides_button[slide] %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

          <!-- Controls of next and previous buttons -->
          <a href="#home-slider" class="left carousel-control" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          </a>
          <a href="#home-slider" class="right carousel-control" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-page" style="padding-top: 40px; position: relative;">
  <div class="container-page">

    <!-- Section: Equipe -->
    <h1 class="page-subtitle">
      A EMPRESA
    </h1>

    <p class="page-content">
      A HRD Soluções de Engenharia auxilia os clientes para aumentar a confiabilidade e disponibilidade de seus equipamentos e estruturas, aderindo aos critérios normativos e mitigando riscos de incidentes de forma eficiente.
    </p>

    
    <p class="page-content">
      Em um ambiente de trabalho cooperativo, a nossa equipe é formada por engenheiros capacitados que trabalham com o auxílio dos softwares e tecnologias mais atuais disponíveis no mercado.
    </p>
    <h1 class="page-subtitle">
    Certificação ISO 9001
    </h1>

		<div class="page-desktop">
			<div class= "ISO">
				<p class="page-content" align="left">
					A HRD se orgulha de ser uma empresa certificada ISO 9001:2015 em seu sistema de gestão da qualidade!  
					<br><br>
						Ao longo de todo o nosso percurso, almejamos tornar a HRD referência em excelência técnica no mercado. Para isso, nos empenhamos em prol da melhoria contínua de nossos processos, garantindo a segurança e confiabilidade dos ativos dos nossos clientes e parceiros.
				</p>
				<div align="right" >
					<%= image_tag "logo-rina.png", class: 'rina-image' %>
				</div>
			</div>
		</div>

		<div class="page-mobile">
			<p class="page-content" align="left">
				A HRD se orgulha de ser uma empresa certificada ISO 9001:2015 em seu sistema de gestão da qualidade!  
			</p>
			<div class="rina-image-div">
				<%= image_tag "logo-rina.png", class: 'rina-image' %>
			</div>
			<p class="page-content">
				Ao longo de todo o nosso percurso, almejamos tornar a HRD referência em excelência técnica no mercado. Para isso, nos empenhamos em prol da melhoria contínua de nossos processos, garantindo a segurança e confiabilidade dos ativos dos nossos clientes e parceiros.
			</p>
		</div>


    <div class="home-about-buttons text-center" id="clientes">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <%= link_to "Conheça a empresa", '/a-empresa', class: "conheca-mais-btn btn" %>
        </div>
        <div class="col-xs-12 col-md-6">
          <%= link_to "Veja nossos cases", '/cases', class: "conheca-mais-btn btn" %>
        </div>
      </div>
    </div>
  </div>
 <h1 class="page-subtitle" >
      PRINCIPAIS CLIENTES
 </h1>
  <div>
    <%= image_tag "clientes-nova.png", class: 'clientes-image' %>
  </div>

	<div class="page-desktop">
	  <div class="metrics">
			<div class="metric">
				<div class="metric-name"><p>Horas de engenharia executadas</p></div>
				<p class="metric-value">+<span class="number-animation-up" data-value="40">0</span>.000</p>
			</div>
			<div class="metric">
				<p class="metric-name">Máquinas de pátio analisadas</p>
				<p class="metric-value number-animation-up" data-value="17">0</p>
			</div>
			<div class="metric">
				<p class="metric-name">Transportadores de correia analisados</p>
				<p class="metric-value number-animation-up" data-value="25">0</p>
			</div>
			<div class="metric">
				<p class="metric-name">Ferramentas de engenharia desenvolvidas</p>
				<p class="metric-value number-animation-up" data-value="20">0</p>
			</div>
			<div class="metric">
				<p class="metric-name">Avaliação NPS* dos clientes</p>
				<p class="metric-value"><span class="number-animation-up" data-value="100">0</span>%</p>
			</div>
  	</div>
 </div>

 	<div class="page-mobile">
		<div class="metrics">
			<div class="row">
				<div class="col-xs-6 col-md-2">
					<div class="metric">
						<div class="metric-name"><p>Horas de engenharia executadas</p></div>
						<p class="metric-value">+<span class="number-animation-up" data-value="40">0</span>.000</p>
					</div>
				</div>
				<div class="col-xs-6 col-md-2">
					<div class="metric">
						<p class="metric-name">Máquinas de pátio analisadas</p>
						<p class="metric-value number-animation-up" data-value="17">0</p>
					</div>
				</div>
				<div class="col-xs-6 col-md-2">
					<div class="metric">
						<p class="metric-name">Transportadores de correia analisados</p>
						<p class="metric-value number-animation-up" data-value="25">0</p>
					</div>
				</div>
				<div class="col-xs-6 col-md-2">
					<div class="metric">
						<p class="metric-name">Ferramentas de engenharia desenvolvidas</p>
						<p class="metric-value number-animation-up" data-value="20">0</p>
					</div>
				</div>
				<div class="col-xs-12" style="margin: 0 auto;">
					<div class="metric last-metric">
						<p class="metric-name">Avaliação NPS* dos clientes</p>
						<p class="metric-value"><span class="number-animation-up" data-value="100">0</span>%</p>
					</div> 
				</div>
			</div>
		</div> 
 </div>


  <% if false %>
    <h1 class="page-subtitle">
      SERVIÇOS
    </h1>

    <p class="page-content">
      Com foco em consultoria e auditoria de projetos e manutenção de equipamentos e estruturas metálicas para o setor industrial, fornecemos soluções com custos acessíveis que possibilitam o aumento de lucratividade dos nossos parceiros. Entre os ramos de atuação, destacam-se: Mineração, Portos, Ferrovias e Siderurgia.
    </p>

    <% @areas_nomes.length.times do |area| %>
      <div class="col-xs-12 col-lg-4">
        <%= link_to "/areas/" + @areas_links[area] do %>
          <div class="card-solutions card-solutions-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @areas_fotos_url[area] %>);">
            <div class="card-solutions-description">
              <h2><%= @areas_nomes[area] %></h2>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

 <p class="metric-legend">*Índice obtido por meio de pesquisa de satisfação de clientes</p>



