<style>
  h1 {
    font-family: $roboto;
    font-size: 25px;

    font-weight: bold;
  }

  h2 {
    font-family: $roboto;
    font-size: 22px;
    font-weight: bold;
  }

  .item-title {
    font-family: $roboto;
    font-size: 20px;
    font-weight: bold;
  }

  .item-content {
    font-family: $roboto;
    font-size: 18px;
    font-weight: lighter !important;
  }

</style>

<h1><strong>Email de contato</strong></h1>
<h3><span class="item-title">Contato preenchido em:</span> <span class="item-content"><%= @contato.created_at.strftime("%d/%m/%Y") %>, <%= @contato.created_at.strftime("%H:%M") %></span></h3>

<br>

<h2><strong>Dados do contato:</strong></h1>

<h3><span class="item-title">Nome:</span> <span class="item-content"><%= @contato.nome %></span></h1>
<h3><span class="item-title">Email:</span> <span class="item-content"><%= @contato.email %></span> &nbsp;&nbsp; <span class="item-title">Telefone:</span> <span class="item-content"><%= @contato.telefone %></h3>

<br>

<h2><%= @contato.assunto %></h1>

<p>
  <%= @contato.mensagem %>
</p>
