<style>
  .content-title {
    font-size: 22px;
    font-weight: bold;
  }

  .item-title {
    font-size: 18px;
    font-weight: bold;
  }

  .item-content {
    font-size: 16px;
    font-weight: lighter !important;
  }

  .contato-assunto {
    font-size: 16px;
    font-weight: bold;
  }

  .contato-mensagem {
    font-size: 16px;
  }

</style>

<p><strong><span class="content-title" style="font-size: 20px">Email de contato</span></span></p>
<p><span class="item-title" style="font-size: 18px;"><strong>Contato preenchido em:</strong></span> <span class="item-content" style="font-size: 16px;"><%= @contato.created_at.strftime("%d/%m/%Y") %>, <%= @contato.created_at.strftime("%H:%M") %></span></p>

<br>

<span class="content-title"><strong>Dados do contato:</strong></span>

<p><span class="item-title" style="font-size: 18px;"><strong>Nome:</strong></span> <span class="item-content" style="font-size: 16px;"><%= @contato.nome %></span></p>
<p><span class="item-title" style="font-size: 18px;"><strong>Email:</strong></span> <span class="item-content" style="font-size: 16px;"><%= @contato.email %></span> &nbsp;&nbsp; <span class="item-title" style="font-size: 18px;">Telefone:</span> <span class="item-content" style="font-size: 16px;"><%= @contato.telefone %></p>

<br>

<p><span class="contato-assunto" style="font-size: 18px;"><strong><%= @contato.assunto %></strong></span></p>

<p class="contato-mensagem" style="font-size: 16px;">
  <%= @contato.mensagem %>
</p>
