<style>
  .content-title {
    font-family: $roboto;
    font-size: 22px;
    font-weight: bold;
  }

  .item-title {
    font-family: $roboto;
    font-size: 18px;
    font-weight: bold;
  }

  .item-content {
    font-family: $roboto;
    font-size: 16px;
    font-weight: lighter !important;
  }

  .contato-assunto {
    font-family: $roboto;
    font-size: 16px;
    font-weight: bold;
  }

  .contato-mensagem {
    font-family: $roboto;
    font-size: 16px;
  }

</style>

<span class="content-title">Email de contato</span>
<span class="item-title">Contato preenchido em:</span> <span class="item-content"><%= @contato.created_at.strftime("%d/%m/%Y") %>, <%= @contato.created_at.strftime("%H:%M") %></span></h3>

<br>

<span class="content-title">Dados do contato:</span>

<span class="item-title">Nome:</span> <span class="item-content"><%= @contato.nome %></span>
<span class="item-title">Email:</span> <span class="item-content"><%= @contato.email %></span> &nbsp;&nbsp; <span class="item-title">Telefone:</span> <span class="item-content"><%= @contato.telefone %>

<br>

<span class="contato-assunto"><%= @contato.assunto %></span>

<p class="contato-mensagem">
  <%= @contato.mensagem %>
</p>
